body{
  margin:auto;
  width: 100%;
  height: 100%;
  background-image:linear-gradient(0deg,#003459,#00171F);
}
/*

End of body
-----------------------
start of nav section

*/

#wrapper{
  width: 100%;
  margin-top: -39px;
}

header {
  background-color: #000;
  margin-bottom: 40px;
}

header h1 {
  font-family: monospace;
  font-size: 35px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 3px 3px #00171F;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/*

End of nav section
-----------------------
Start of body section

*/

main {
  margin-top: 60px;
}

#backImage p{
  font-family: monospace;
  font-size: 40px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 3px 3px #00171F;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #00171F;
  font-family:'Courier New', Courier, monospace;
  font-size: 24px;
}

section>h2{
  font-size: 1px;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
}

h3{
  font-family:monospace;
  color: #33C5FF;
  text-shadow: 0px 2px #FFFFFF;
}

main p {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

#wrapper{
  background-color: #FFFFFF;
}

#backImage{
  background-image: url(images/back.jpg);
  background-size: cover;
  height: 200px;
}

#locationText{
  font-family:fantasy;
  font-size: 200%;
  font-display:unset;
  padding: 15px;
  
}

div p{
  font-family: fantasy;
  font-weight: bold;
  padding: 0 5%;
  width: 90%;
}

a{
  text-decoration: none;
}

a:hover{
  color: #33C5FF;
}

/*

Begining on contact section

*/

#social{
  padding: 0% 22% 0 22%;
  margin: auto;
}

.contactInfo,.social{/*unordered lists*/
  list-style:none;
} 

.icon{
  display: inline-block;
  padding: 10px;
}

#social p{
  text-align: center;
}

.text{ /*unordered list text*/
  color:#0084B8;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label{
  color:#0084B8;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text{
  font-weight: normal;
  width: 100%;
}

/*

End of contact section
-----------------------
footer

*/

body footer{
  height: 50px;
  padding-top:20px;
  position: absolute;
  color: #FFFFFF;
}


/*

End of Footer
-----------------------
Groups & Items  (Mobile First) 
*/

.bg-primary {
  background-color: rgb(0,132,184, 0.3);
}

.group img {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

#gmap_canvas{
  width: 100%;
  height: 100%;
  margin: auto;
  border:0;
}

#contact2 input,#contact2 label,#contact2 textarea,#contact2 button{
  width: 90%;
  font-size: 18px;
  margin: auto;
  padding-left: 5%;
}

#contact2 label{
  margin-left: 0;
}

#contact2 textarea{
  height: 100px;
}

button{
  background-color:#FFFFFF;
}

/*

End of Groups & Items (mobile)
-----------------------
Groups & Items  (Desktop) 

*/

@media all and (min-width: 800px) {
    body{
      margin:auto;
      height: 3000px!important;
    }

    #wrapper{
      width: 800px;
      margin:auto;
      margin-top: -39px;
    }

    section {
      padding: 0 ;
    }

    #backImage{
      width: 800px;
      height: 100px;
    }

    .group {
      flex-direction: row;
    }

    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }

    header h1 {
      margin: 14px 0;
      padding-top: 0;
    }

    header nav {
      margin-top: 8px;
    }

    header nav ul li a:hover {
      color: #bdbdbd;
    }

    h3{
      padding: 10px 10px;
    }

    #gmap_canvas{
      width: 450px;
      height: 450px;
      margin: auto;
      border:0;
    }

    #contact2{
      font-size: 18px;
      padding: 0 280px 30px 280px;
    }

    button{
      width: 250px;
      background-color:#FFFFFF;
    }
  } 

  /*

404 page

*/
.link{
  text-decoration: none;
}

.link{
  color:white;
}

.link:visited{
  color:orange;
}

.link:hover{
  color:blue;
}

.link:active{
  color: yellow;
}

.textNotFound{
  color:white;
}

